/* Home Page css */

.img-container {
    width: 100%;
    height: calc((561/6.41)*1vh);
    
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .home-about {
    border-bottom: 1px solid black;
  }
  
  
  